body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.container {
  /* border: 2px solid red; */
  width: 350px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: darkolivegreen;
}

.img {
  border-radius: 50%;
}
